<form name="logform" class="auth">
	<h2>authorization</h2>
	<fieldset id="inputs">
		<input type="email" id="username" placeholder="name" required enter-click="openChat()" ng-model="email">   
		<input type="password" id="password" placeholder="password" required enter-click="openChat()" ng-model="password">
	</fieldset>
	<div class="error">
		<span ng-show="error">{{error}}</span>
	</div>
	<fieldset id="actions">
		<input type="button" id="submit" value="Sign in" ng-click="openChat()">
	</fieldset>
</form>