<div class="row article">
	<div class="col-md-8 col-md-offset-2">
		<div class="chat">
			<div class="msg" ng-class="{'msg-active': msg.author === user.email}" ng-repeat="msg in data">
				<div>
					<span class="author">{{msg.author}}</span>
					<span class="time">{{msg.time | date : "hh:mm / dd MMM"}}</span>
				</div>
				<div class="content">{{msg.content}}</div>
			</div>
		</div>
		<div class="form-group">
		<textarea class="form-control" id="content" rows="3" maxlength="200" placeholder="Right your message" enter-click="sendMessage()" ng-model="text"></textarea>
		</div>
		<input type="submit" id="submit" value="Send" ng-click="sendMessage()">
	</div>
</div>